.main {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
    animation: load 5s linear infinite;
    transform-origin: center;
  }
  
  @keyframes load {
    0% {
      transform: rotate(0deg);
      stroke-dashoffset: 50;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      transform: rotate(360deg);
      stroke-dashoffset: -50;
    }
  }